<div class="mi-progreso-container">
  <h2>Mi Progreso</h2>

  <div class="chart-container">
    <label for="weightChartType">Tipo de gráfico (Peso):</label>
    <select id="weightChartType" [(ngModel)]="weightChartType" (change)="renderWeightChart()">
      <option value="bar">Barra</option>
      <option value="line">Línea</option>
      <option value="pie">Pastel</option>
    </select>
    <canvas id="weightChart"></canvas>
  </div>

  <div class="chart-container">
    <label for="imcChartType">Tipo de gráfico (IMC):</label>
    <select id="imcChartType" [(ngModel)]="imcChartType" (change)="renderImcChart()">
      <option value="bar">Barra</option>
      <option value="line">Línea</option>
      <option value="pie">Pastel</option>
    </select>
    <canvas id="imcChart"></canvas>
  </div>
  <h2>Actualizar peso</h2>
  <div class="metrics-form">
    <form (ngSubmit)="addMetric()">
      <div class="form-group">
        <label for="weight">Peso (kg):</label>
        <input type="number" id="weight" [(ngModel)]="newMetric.weight" name="weight" required min="0" step="0.1">
      </div>
      <div class="form-group">
        <label for="measurementDate">Fecha de Medición:</label>
        <input type="date" id="measurementDate" [(ngModel)]="newMetric.measurementDate" name="measurementDate" required max="{{ today }}">
      </div>
      <button type="submit" [disabled]="!newMetric.weight || !newMetric.measurementDate || newMetric.weight <= 0">Añadir Información</button>
    </form>
  </div>

</div>
